        // Custom.scss
        // Your variable overrides
        @import "node_modules/bootstrap/scss/bootstrap";
        @import './variables';
        // Icons
        @import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");
        @mixin flex($direction,
        $justify,
        $align,
        $content,
        $wrap,
        $color) {
            display: flex;
            flex-direction: $direction;
            justify-content: $justify;
            align-items: $align;
            align-content: $content;
            flex-wrap: $wrap;
            background-color: $color;
        }
        
        .generic-button {
            background-color: $color3;
            color: $color2;
            font-weight: 400;
            border-radius: 7%;
            padding: 7px 80px;
            margin: 15px;
            border: 3px solid $color2;
            font-family: Starjedi;
            &:hover {
                background-color: $color4;
            }
        }
        
        .listStarWars__div {
            width: 282px;
            height: 100px;
            background-color: $color1;
            border: 3px solid $color2;
            font-family: monospace;
            font-weight: 600;
            list-style: none;
            margin: 15px;
            @include flex(column,
            center,
            none,
            center,
            wrap,
            none);
        }
        
        .listStarWars__divdetails {
            width: 350px;
            height: auto;
            background-color: $color1;
            border: 3px solid $color2;
            font-family: monospace;
            font-weight: 600;
            margin: 15px;
            @include flex(column,
            center,
            strech,
            center,
            wrap,
            none);
        }
        
        .listStarWars__div-films {
            width: calc(100%-20px);
            height: auto;
            background-color: $color1;
            border: 3px solid $color2;
            font-family: monospace;
            font-weight: 600;
            margin: 15px;
            text-align: justify;
            padding: 15px;
            @include flex(column,
            flex-start,
            flex-start,
            center,
            wrap,
            none);
        }
        
        .divFilms_img {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
        }
        
        //--------------------ANIMATION LOUDER--------------------------
        .starWarsLoader__img {
            position: relative;
            width: 200px;
            height: 200px;
        }
        
        .loaderAnimation {
            animation: louder 1s linear infinite;
        }
        
        @keyframes louder {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        
        //--------------------FINISH ANIMATION LOUDER--------------------------
        .swfinder {
            border: 2px solid $color2;
            border-radius: 5%;
            .swfinder__input {
                width: 350px;
                margin-top: 30px;
                box-shadow: 2px 4px 6px $color4;
                text-shadow: 2px 4px 6px $color6;
            }
        }
        
        .detailList_img {
            width: 250px;
            height: auto;
            margin: 8px;
            border: 2px solid $color5;
        }
        
        .hide {
            display: none;
        }