$layout_bp_mobile: 800px;
$layout_bp_desktop: 800px;
// $layout_bp_desktop: 1280px;
// SCSS Mixins
@mixin mobile {
    @media only screen and (max-width: #{$layout_bp_mobile}) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: #{$layout_bp_desktop}) {
        @content;
    }
}