// https://www.htmlcsscolor.com/
$color1: #ffffff;
$color2: #FDC501;
$color3: black;
$color4: rgb(39, 114, 226);
$color5: red;
$color6: rgb(6, 209, 33);
// Font
@font-face {
    font-family: Starjedi;
    src: url("../assets/Fonts/star_jedi/starjedi/Starjedi.ttf");
}