@import './custom';
@import './variables';
@import "./responsive";
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(../assets/back4IMG.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    .header {
        height: auto;
        background-image: url(../assets/headerSpeed.jpg);
        background-size: cover;
        background-position: center;
        border: solid 1px $color2;
        @include flex(column, center, center, center, none, none);
        .header__img {
            width: 40%;
            height: auto;
            margin: 35px 0px;
        }
        .pageTittle {
            font-family: Starjedi;
            color: $color1;
            text-shadow: 15px 11px 4px rgba(185, 168, 0, 0.84);
            margin: 20px;
        }
    }
    .starWarsLoader {
        position: absolute;
        z-index: 3;
        background: rgba($color: #afa9a980, $alpha: 0.6);
        height: 100%;
        width: 100%;
    }
    .starWarsLoader__div {
        position: relative;
        z-index: 1;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: white;
        top: 40%;
        left: 40%;
    }
}

.main {
    .generic-button-color2 {
        &:hover {
            background-color: $color6;
        }
    }
    .generic-button-color {
        &:hover {
            background-color: $color5;
        }
    }
    .btnContainer {
        padding: 35px;
        .btn-img {
            margin: 10px;
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }
    }
}

.detailList {
    padding: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.starWarsList1 {
    list-style: none;
    padding: 0px;
    @include flex(row, center, center, none, wrap, none);
}

.starWarsList2 {
    list-style: none;
    padding: 0px;
    @include flex(row, center, center, none, wrap, none);
}

.starWarsList3 {
    list-style: none;
    padding: 0px;
    @include flex(row, center, center, none, wrap, none);
}

.starWarsList4 {
    // list-style: none;
    padding: 0px;
    @include flex(column, center, center, none, wrap, none);
}

.swfinder__tittle {
    font-family: Starjedi;
    color: $color2;
    margin-top: 20px;
    text-shadow: 2px 2px 9px $color5;
}

// Hide List/ToggleBotton
.hide {
    display: none;
}